{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-xl-2 col-lg-2 col-md-3 col-2 bg-light shadow min-vh-100 position-fixed d-inline-block">
            {% include "sidebar.html" %}
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-10 offset-xl-2 offset-lg-2 offset-md-3 offset-2">
            <div class="py-3 px-lg-3 px-md-2 px-sm-2 px-xs-2" >
                <div class="col-auto px-sm-3 px-0 bg-light shadow p-2 rounded mb-3">
                    <h3>Add Case</h3>

                        <form method="POST" id="myForm" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                <div class="d-flex flex-wrap bd-highlight mb-3 border border-white border-3 rounded shadow">
                                    <div class="d-flex col-sm-12 justify-content-start p-2">
                                        <h5 style="color: #fca650">Details</h5>
                                    </div>
                                    {% for field in form %}
                                        {% if field.name == 'case_no' %}
                                            <div class="bd-highlight col-sm-4">
                                                <div class="form-floating mb-3 px-2 light-label">
                                                    <input class="form-control" id="CaseNumber" type="text" placeholder="Case Number" name="{{ field.name }}" required="True">
                                                    <label for="CaseNumber">Case Number</label>
                                                    {% for error in form.case_no.errors %}
                                                        <p class="error" style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% elif field.name == 'case_title' %}
                                            <div class="bd-highlight col-md-8">
                                                <div class="form-floating mb-3 px-2 light-label">
                                                    <textarea class="form-control" id="CaseTitle" type="text" placeholder="Case Title" name="{{ field.name }}" required="True"></textarea>
                                                    <label for="CaseTitle">Case Title</label>
                                                    {% for error in form.case_title.errors %}
                                                        <p class="error" style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% elif field.name == 'case_category' %}
                                        <!-- Code for the "Category" field -->
                                        <div class="bd-highlight col-sm-6">
                                            <div class="form-floating mb-3 px-2 light-label">
                                                {{ field(class="form-select", id="category") }}
                                                <label for="category">Category</label>  <!-- Add a label for the "Barangay" field -->
                                                {% for error in form.case_category.errors %}
                                                    <p class="error" style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-flex flex-wrap bd-highlight mb-3 border border-white border-3 rounded shadow">
                                    <div class="d-flex col-sm-12 justify-content-start p-2">
                                        <h5 style="color: #fca650">Complainant</h5>
                                    </div>
                                    {% for field in form %}
                                        {% if field.name == 'complainant_name' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-6">
                                            <textarea class="form-control" id="CompName" type="text" placeholder="Name of Complainant" name="{{ field.name }}" required="True"></textarea>
                                            <label for="CompName">Name of Complainant</label>
                                            {% for error in form.complainant_name.errors %}
                                                <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% elif field.name == 'contact_complainant' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-6">
                                            <input class="form-control" id="ConComp" type="text" placeholder="Contact Information" name="{{ field.name }}" required="True">
                                            <label for="AddComp">Contact Information</label>
                                            {% for error in form.contact_complainant.errors %}
                                                <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% elif field.name == 'address_complainant' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-12">
                                            <input class="form-control" id="AddComp" type="text" placeholder="Address of Complainant" name="{{ field.name }}" required="True">
                                            <label for="AddComp">Address of Complainant</label>
                                            {% for error in form.address_complainant.errors %}
                                                <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-flex flex-wrap bd-highlight mb-3 border border-white border-3 rounded shadow">
                                    <div class="d-flex col-sm-12 justify-content-start p-2">
                                        <h5 style="color: #fca650">Respondent</h5>
                                    </div>
                                    {% for field in form %}
                                        {% if field.name == 'respondent_name' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-6">
                                            <textarea class="form-control" id="ResName" type="text" placeholder="Name of Respondent" name="{{ field.name }}" required="True"></textarea>
                                            <label for="ResName">Name of Respondent</label>
                                            {% for error in form.respondent_name.errors %}
                                                <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% elif field.name == 'contact_respondent' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-6">
                                            <input class="form-control" id="ConRes" type="text" placeholder="Contact Information of Respondent" name="{{ field.name }}" required="True">
                                            <label for="AddComp">Contact Information</label>
                                            {% for error in form.contact_respondent.errors %}
                                                <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% elif field.name == 'address_respondent' %}
                                        <div class="form-floating mb-3 px-2 light-label col-md-12">
                                            <input class="form-control" id="AddRes" type="text" placeholder="Address of Respondent" name="{{ field.name }}" required="True">
                                            <label for="AddRes">Address of Respondent</label>
                                            {% for error in form.address_respondent.errors %}
                                               <p class="error" style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-flex flex-wrap bd-highlight mb-3 border border-white border-3 rounded shadow">
                                    <div class="d-flex col-sm-12 justify-content-start p-2">
                                        <h5 style="color: #fca650">Location</h5>
                                    </div>
                                    {% for field in form %}
                                        {% if field.name == 'location_of_structure' %}
                                        <div class="bd-highlight col-sm-6">
                                            <div class="form-floating mb-3 px-2 light-label">
                                                <input class="form-control" id="Loc" type="text" placeholder="Location of Subject Structure" name="{{ field.name }}" required="True">
                                                <label for="Loc">Location of Subject Structure</label>
                                                {% for error in form.location_of_structure.errors %}
                                                    <p class="error" style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% elif field.name == 'barangay' %}
                                        <!-- Code for the "Barangay" field -->
                                        <div class="bd-highlight col-sm-6">
                                            <div class="form-floating mb-3 px-2 light-label">
                                                {{ field(class="form-select", id="Barangay") }}
                                                <label for="Barangay">Barangay</label>  <!-- Add a label for the "Barangay" field -->
                                                {% for error in form.barangay.errors %}
                                                    <p class="error" style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for field in form %}
                                    {% if field.name == 'inves_report' %}
                                    <div class="mb-3 px-2">
                                      <label for="InvesRep" class="form-label">Upload Investigation Report</label>
                                      <input class="form-control" type="file" id="InvesRep" name="{{ field.name }}" required="True">
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            <div class="d-flex name justify-content-end">
                                <button type="submit" class="btn btn-warning">Save</button>
                            </div>
                        </form>
                    <div class="row">
                     {% with messages = get_flashed_messages() %}
                       {% if messages %}
                         {% for message in messages %}
                            <div class="d-flex justify-content-center" id="triggerModalDiv">
                                <p id="messageText" style="color: red; display: none">{{ message }}</p>
                            </div>
                         {% endfor %}
                       {% endif %}
                     {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to display flash message-->
<div class="modal fade" id="FlashMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Alert</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>

<!-- Add this JavaScript code after your content -->
<script>


window.onload = function () {
    var message = document.getElementById('messageText').textContent;

    // Check if the element with id "triggerModalDiv" exists
    if ($('#triggerModalDiv').length) {
        var icon = "success"; // Default icon is "success"
        var goodjob = "Good Job!"
        // Check if the message contains the word "error" or "failed" (you can adjust this condition as needed)
        if (message.toLowerCase().includes("error") || message.toLowerCase().includes("exist")) {
            icon = "error"; // Change the icon to "error" for error messages
            goodjob = "Oops!"
        }

        // Trigger the SweetAlert with the determined icon
        swal.fire({
            title: goodjob,
            text: message,
            icon: icon, // Use the determined icon
        });
    }
};

let formSubmitted = false;

// Restore input values from Local Storage on page load
document.addEventListener('DOMContentLoaded', function() {
    for (let field of document.querySelectorAll('input, textarea')) {
        if (field.name) {
            let storedValue = localStorage.getItem(field.name);
            if (storedValue !== null) {
                field.value = storedValue;
            }
        }
    }
});

// Save input values to Local Storage on form submit
document.getElementById('myForm').addEventListener('submit', function() {
    formSubmitted = true;
    for (let field of document.querySelectorAll('input, textarea')) {
        if (field.name) {
            localStorage.setItem(field.name, field.value);
        }
    }
});

// Clear local storage data when leaving the page
window.addEventListener('beforeunload', function() {
    if (!formSubmitted) {
        for (let field of document.querySelectorAll('input, textarea')) {
            if (field.name) {
                localStorage.removeItem(field.name);
            }
        }
    }
});

// Clear local storage data when refreshing the page
window.addEventListener('unload', function() {
    if (!formSubmitted) {
        for (let field of document.querySelectorAll('input, textarea')) {
            if (field.name) {
                localStorage.removeItem(field.name);
            }
        }
    }
});

</script>

{% include "javascript.html" %}
{% endblock %}