{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}

<!--Custom CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_border.css')}}">


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-xl-2 col-lg-2 col-md-3 col-2 bg-light shadow min-vh-100 position-fixed d-inline-block">
            {% include "sidebar.html" %}
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-10 offset-xl-2 offset-lg-2 offset-md-3 offset-2">
            <div class="py-3 px-lg-3 px-md-2 px-sm-3 px-xs-3" >
                <div class="row px-sm-2 px-0 bg-light shadow p-3 rounded mb-3">
                    <div class = "col mb-3 d-flex justify-content-between">
                         <div class="name">
                            <h5 style="color: #fca650">Details</h5>
                        </div>
                        <div class="name">
                            <a class="btn btn-labeled btn-warning shadow" href="{{ url_for('edit_case', case_no=case.case_no) }}">
                                <i class="bi bi-pencil-square"></i> <span class="ms-1 d-none d-sm-inline">Edit</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class = "d-flex justify-content-between">
                        <strong><p style="color: #12632a">Case Number: {{ case.case_no }}</p></strong>
                            <p class="nav-link" data-toggle="modal" data-target="#Status"><strong>Status:</strong>
                                {% if case.status == "8" %}
                                    Scheduled for deliberation on &nbsp; {{ sched.schedule.strftime('%B %d, %Y')}}
                                {% elif case.status == "1"  %}
                                    Pending
                                {% elif case.status == "2"  %}
                                    Archived
                                {% elif case.status == "3"  %}
                                    Dismissed
                                {% elif case.status == "4"  %}
                                    For Demolition
                                {% elif case.status == "5"  %}
                                    Structure Demolished
                                {% elif case.status == "6"  %}
                                    Deferred
                                {% elif case.status == "7"  %}
                                    For Resolution

                                {% endif %}
                            </p>
                        <a data-bs-toggle="modal" data-bs-target="#Status">
                            <i class="bi bi-three-dots"></i>
                        </a>
                    </div>
                    <hr>

                    <div class="d-md-flex">
                        <div class="col-lg-2 justify-content-center" style="text-align: center">
                            {% if case.category == "1" %}
                                <img src="static/img/location-pin.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Registered Land</strong></h5>
                            {% elif case.category == "2" %}
                                <img src="static/img/mobile.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Unregistered Land</strong></h5>
                            {% elif case.category == "3" %}
                                <img src="static/img/road.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>RROW</strong></h5>
                            {% elif case.category == "4" %}
                                <img src="static/img/forest.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Forest Reservation and Greenbelt Area</strong></h5>
                            {% elif case.category == "5" %}
                                <img src="static/img/river.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5><strong>Watershed</strong></h5>
                            {% elif case.category == "6" %}
                                <img src="static/img/creek.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Esteros and Waterway (Creek Easement)</strong></h5>
                            {% elif case.category == "7" %}
                                <img src="static/img/barracks.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Military Reservation</strong></h5>
                            {% elif case.category == "8" %}
                                <img src="static/img/government.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Government Reservation</strong></h5>
                            {% elif case.category == "9" %}
                                <img src="static/img/cityscape.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>City / Barangay Needs</strong></h5>
                            {% elif case.category == "10" %}
                                <img src="static/img/house.png" style="width: 120px; height: 120px" class="rounded mx-auto d-block m-3" alt="Barracks Image">
                                <h5 style="color: red"><strong>Others</strong></h5>
                            {% endif %}

                        </div>
                        <div class="col-lg-10">
                            <div>
                                <p class="nav-link">Case Title: {{ case.case_title }}</p>
                            </div>
                            <div class="d-md-flex m-3">
                                <div class = "col-lg-6">
                                    <p class="nav-link"><i class="bi bi-person-badge"></i> Complainant: <strong>{{ case.case_complainant }}</strong></p>
                                    <p class="nav-link"><i class="bi bi-geo-alt-fill"></i> Address of Complainant: <strong>{{ case.address_complainant }}</strong></p>
                                    <p class="nav-link"><i class="bi bi-telephone-fill"></i> Contact Information of Complainant: <strong>{{ case.contact_complainant }}</strong></p>
                                    <p class="nav-link"><i class="bi bi-pin-map-fill"></i> Location of Subject Structure: <br><strong>{{case.location}},&nbsp;{{ barangay_name }}</strong></p>
                                </div>
                                <div class = "col-lg-6">
                                    <p class="nav-link"><i class="bi bi-person-badge"></i> Respondent: <strong>{{ case.case_respondent }}</strong></p>
                                    <p class="nav-link"><i class="bi bi-geo-alt-fill"></i> Address of Respondent: <strong>{{ case.address_respondent }}</strong></p>
                                    <p class="nav-link"><i class="bi bi-telephone-fill"></i> Contact Information of Respondent: <strong>{{ case.contact_respondent }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "d-flex justify-content-center">
                        <a class="btn btn-labeled btn-success shadow" data-bs-toggle="modal" data-bs-target="#Sched">
                                <i class="bi bi-calendar-event-fill"></i> <span class="ms-1 d-none d-sm-inline">Schedule Deliberation</span>
                        </a>
                    </div>
    <!--                    <h3>Document</h3>-->
    <!--                    <div class="d-flex justify-content-between px-3">-->
    <!--                        <div class="mr-3">-->
    <!--                            <button class="btn btn-labeled btn-warning shadow" id="showDocumentBtn">Show Investigation Report</button>-->
    <!--                        </div>-->
    <!--                        <div class="mr-3">-->
    <!--                            <button class="btn btn-labeled btn-warning shadow">Upload Resolution</button>-->
    <!--                        </div>-->
    <!--                        <div class="mr-3">-->
    <!--                            <button class="btn btn-labeled btn-warning shadow">Upload Position Papers</button>-->
    <!--                        </div>-->
    <!--                    </div>-->
                </div>

                <div class="row px-sm-2 px-0 bg-light shadow p-3 rounded mb-3">
                        <div class=" px-sm-2 px-0 rounded">
                            <div class = "col d-flex justify-content-between">
                                 <div class="name">
                                    <h5 style="color: #fca650">Notes</h5>
                                 </div>
                            </div>
                            <hr>
                            <div class = "d-flex justify-content-center mb-3">
                                <a class="btn btn-light btn-align-left shadow" style="color: #400c06" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-card-text"></i> <span class="ms-1 d-none d-sm-inline">Show Notes</span>
                                </a>
                            </div>
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body">
                                <form method="POST" id="Note" enctype="multipart/form-data" action="{{ url_for('note', case_no=case.case_no) }}">
                                    <textarea class="form-control mb-3" rows="3" name="notes">{{ notes.note }}</textarea>
                                    <div class = "d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                        </div>
                </div>

                <div class="row px-sm-2 px-0 bg-light shadow p-3 rounded mb-3">
                        <div class=" px-sm-2 px-0 rounded">
                            <div class = "col d-flex justify-content-between">
                                 <div class="name">
                                    <h5 style="color: #fca650">Executive Summary</h5>
                                 </div>
                            </div>
                            <hr>
                            <div class = "d-flex justify-content-center mb-3">
                                <a class="btn btn-light btn-align-left shadow" style="color: #400c06" data-bs-toggle="collapse" href="#collapseSummary" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">Show Summary</span>
                                </a>
                            </div>
                            <div class="collapse" id="collapseSummary">
                              <div class="card card-body">
                                <form method="POST" id="Summary" enctype="multipart/form-data" action="{{ url_for('summary', case_no=case.case_no) }}">
                                    <textarea class="form-control mb-3" rows="3" name="summary">{{ summary.summary }}</textarea>
                                    <div class = "d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                        </div>
                </div>

                <div class="row px-sm-2 px-0 bg-light shadow p-3 rounded mb-3">
                        <div class=" px-sm-2 px-0 rounded mb-3">
                            <div class = "col mb-3 d-flex justify-content-between">
                                 <div class="name">
                                    <h5 style="color: #fca650">Documents</h5>
                                </div>
                                <div class="name">
                                    <a class="btn btn-labeled btn-warning shadow" data-bs-toggle="modal" data-bs-target="#addDoc">
                                        <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Add Document</span>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="card">
                                 {% for document in docu %}
                                    <button type="button" class="btn btn-light btn-align-left show-document radius-10 border-start border-0 border-3 border-regular" data-file-path="{{ document.file_path }}" document-id="{{ document.id }}">
                                        <div class="d-flex justify-content-between ">
                                            <div class="d-flex">
                                                {% if document.document_type == "1" %}
                                                    <i class="bi bi-binoculars-fill">&nbsp;</i>
                                                    <p>Investigation Report</p>
                                                {% elif document.document_type == "2" %}
                                                    <i class="bi bi-file-earmark-check-fill">&nbsp;</i>
                                                    <p>Resolution</p>
                                                {% elif document.document_type == "3" %}
                                                    <i class="bi bi-file-earmark-text-fill">&nbsp;</i>
                                                    <p>Minutes of Meeting</p>
                                                {% elif document.document_type == "4" %}
                                                    <i class="bi bi-mic-fill">&nbsp;</i>
                                                    <p>Audio File</p>
                                                {% elif document.document_type == "5" %}
                                                    <i class="bi bi-folder-fill">&nbsp;</i>
                                                    <p>Position Paper - Complainant</p>
                                                {% elif document.document_type == "6" %}
                                                    <i class="bi bi-folder-fill">&nbsp;</i>
                                                    <p>Position Paper - Respondent</p>
                                                {% elif document.document_type == "7" %}
                                                    <i class="bi bi-journals">&nbsp;</i>
                                                    <p>Post Demolition Report</p>
                                                {% elif document.document_type == "8" %}
                                                    <i class="bi bi-info-square-fill">&nbsp;</i>
                                                    <p>Notice of Meeting</p>
                                                {% elif document.document_type == "9" %}
                                                    <i class="bi bi-info-square-fill">&nbsp;</i>
                                                    <p>Notice for Position Paper</p>
                                                {% elif document.document_type == "10" %}
                                                    <i class="bi bi-file-earmark-plus-fill">&nbsp;</i>
                                                    <p>Others</p>
                                                {% endif %}

                                            </div>
                                            <div class="d-none d-md-inline">
                                                {% for name in user %}
                                                    {% if document.user_id == name.id %}
                                                    <p style="color: #a6a19e">Uploaded on {{ document.upload_date.strftime('%B %d, %Y %I:%M %p') }} by {{ name.user_fname }} {{ name.user_lname }}</p>
                                                    {% endif %}
                                                {% endfor%}

                                            </div>
                                        </div>
                                    </button>

                                {% endfor %}
                            </div>
                        </div>
                    <div>
                     {% with messages = get_flashed_messages() %}
                       {% if messages %}
                         {% for message in messages %}
                            <div class="d-flex justify-content-center" id="triggerModalDiv">
                                <p id="messageText" style="color: red; display: none">{{ message }}</p>
                            </div>
                         {% endfor %}
                       {% endif %}
                     {% endwith %}
                    </div>
                    <!-- Modal to display-->
                    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Files </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <div id="uploadForm" style="display: none;">
                                <!-- HTML form for uploading resolution -->
                                <form action="/upload_resolution" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="resolutionFile">
                                    <input type="submit" value="Upload Resolution">
                                </form>
                            </div>
                            <iframe id="pdfViewerModal" width="100%" height="800px" allow="autoplay"></iframe>
                          </div>
    <!--                          <div class="modal-footer">-->
    <!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
    <!--                            <button type="button" class="btn btn-primary">Save changes</button>-->
    <!--                          </div>-->
                        </div>
                      </div>
                    </div>

                     <!-- Modal to add document-->
                    <div class="modal fade" id="addDoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Add Files</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                                <!-- HTML form for uploading files-->
                                <form method="POST" id="myForm" enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    {% for field in form %}
                                        {% if field.name == 'file_type' %}
                                            <label>File Type</label>
                                            <div class="form-floating mb-3 px-2 light-label">
                                                {{ field(class="form-select", id="FileType") }}
                                            </div>
                                        {% elif field.name == 'files' %}

                                            <div class="mb-3">
                                                {{ field.label(for="formFile", class="form-label") }}
                                                {{ field(class="form-control", id="formFile", type="file") }}
                                            </div>

                                        {% endif %}
                                    {% endfor %}

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FlashMessage">Save changes</button>
                                    </div>
                                </form>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal to schedule-->
                    <div class="modal fade" id="Sched" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Schedule</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                                <!-- HTML form for uploading files-->
                                <form method="POST" id="SchedForm" enctype="multipart/form-data" action="{{ url_for('schedule', case_no=case.case_no) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                                    <div class="d-flex mb-3">
                                        <div class="col mt-2">
                                            <label>Pick a date for deliberation:</label>
                                        </div>
                                        <div class="col px-3 container-fluid">
                                            <input class="form-control" id="datepicker" name="schedule" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <div class="mt-2">
                                            <label>Remarks:</label>
                                        </div>
                                        <div class="px-3 container-fluid">
                                            <textarea class="form-control w-100" id="exampleFormControlTextarea1" name="remarks"></textarea>
                                        </div>
                                    </div>


                                    <!-- Other form fields and buttons can be added here -->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FlashMessage">Save changes</button>
                                    </div>
                                </form>

                          </div>
                        </div>
                      </div>
                    </div>

                     <!-- Modal to edit Status-->
                    <div class="modal fade" id="Status" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Status</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                                <!-- HTML form editing status-->
                                <form method="POST" id="StatusForm" enctype="multipart/form-data" action="{{ url_for('status', case_no=case.case_no) }}">
                                    {% for field in form1 %}
                                        {% if field.name == 'status' %}
                                            <label>Select Status</label>
                                            <div class="form-floating mb-3 px-2 light-label">
                                                {{ field(class="form-select", id="status") }}
                                            </div>
                                        {% elif field.name == 'remarks' %}

                                            <div class="mb-3">
                                                {{ field.label(for="formFile", class="form-label") }}
                                                {{ field(class="form-control", id="formFile", type="textarea") }}
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FlashMessage">Save changes</button>
                                    </div>
                                </form>

                          </div>
                        </div>
                      </div>
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                        const showDocumentButtons = document.querySelectorAll('.show-document');

                            showDocumentButtons.forEach(button => {
                                button.addEventListener('click', () => {
                                    const filePath = button.getAttribute('data-file-path');
                                    var id = button.getAttribute('document.id');
                                    // Open the modal
                                    $(pdfModal).modal('show');

                                    // Load and display the PDF in the modal's iframe
                                    pdfViewerModal.src = filePath;
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add this JavaScript code after your content -->
<script>
$('#datepicker').datepicker({
    uiLibrary: 'bootstrap5',
    format: 'mm/dd/yyyy',
    autoclose: true,
    todayHighlight: true,
    startDate: new Date() // Set the minimum date to the current date
});

window.onload = function () {
    var message = document.getElementById('messageText').textContent;
    // Check if the element with id "triggerModalDiv" exists
    if ($('#triggerModalDiv').length) {
        var icon = "success"; // Default icon is "success"
        var goodjob = "Good Job!"
        // Check if the message contains the word "error" or "failed" (you can adjust this condition as needed)
        if (message.toLowerCase().includes("error") || message.toLowerCase().includes("extension")) {
            icon = "error"; // Change the icon to "error" for error messages
            goodjob = "Oops!"
        }

        // Trigger the SweetAlert with the determined icon
        swal.fire({
            title: goodjob,
            text: message,
            icon: icon, // Use the determined icon
        });
    }
};

</script>

{% include "javascript.html" %}
{% endblock %}
