  <!-- Footer -->
  <div class="container-fluid container-footer">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-3">
        <img src="static/img/government-logo.png" class="gov-logo" alt="" />
      </div>
      <div class="col-12 col-lg-3 col-md-3 p-3">
        <h5 class="heading"><strong>Republic of the Philippines</strong></h5>
        <p class="text">
          All content is in the public domain unless otherwise stated
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-3 p-3">
        <h5 class="heading"><strong>ABOUT GOVPH</strong></h5>
        <p class="text">
          Learn more about the Philippine government, its structure, how
          government works and the people behind it
        </p>
        <div class="col">
          <ul class="p-0">
            <a href="https://www.gov.ph/" class="gov-links text">GOV.PH</a>
          </ul>
          <ul class="gov-links">
            <a href="https://data.gov.ph/index/home" class="gov-links text">Open Data Portal</a>
          </ul>
          <ul class="p-0">
            <a href="https://www.officialgazette.gov.ph/" class="gov-links text">Official Gazette</a>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3 p-3">
        <h5 class="heading"><strong>Government Links</strong></h5>
        <ul class="p-0">
          <a href="https://pbbm.com.ph/" class="gov-links text">
            Office of the President
          </a>
        </ul>
        <ul class="p-0">
          <a href="https://ovp.gov.ph/" class="gov-links text">
            Office of the Vice President
          </a>
        </ul>
        <ul class="p-0">
          <a href="http://legacy.senate.gov.ph/" class="gov-links text"> Senate of the Philippines</a>
        </ul>
        <ul class="p-0">
          <a href="https://www.congress.gov.ph/" class="gov-links text">House of Representatives</a>
        </ul>
        <ul class="p-0">
          <a href="https://sc.judiciary.gov.ph/" class="gov-links text">Supreme Court</a>
        </ul>
        <ul class="gov-links">
          <a href="https://ca.judiciary.gov.ph/" class="gov-links text">Court of Appeals</a>
        </ul>
        <ul class="gov-links">
          <a href="https://sb.judiciary.gov.ph/" class="gov-links text">Sandiganbayan</a>
        </ul>
      </div>
    </div>
  </div>
  <hr class="separator">
   <div class="footer container-fluid">
      <div class="row">
          <div class="col-12 col-md-6">
              <div class="footer-logos">
                  <img src="static/img/cbao logo copy.png" />
              </div>
          </div>
          <div class="col-12 col-md-3">
              <div class="site-links-header">SITE LINKS</div>
              <div class="site-links">
                  <a href="/about-us" style="text-decoration:none">About</a>
                  <a href="/services" style="text-decoration:none">Services</a>
                  <a href="/contact" style="text-decoration:none">Contact Us</a>
              </div>
          </div>
          <div class="col-12 col-md-3">
              <div class="contact-header">CONTACT US</div>
              <div class="contact-info">
                  <span class="bi bi-geo-alt-fill">
                  <span>Utility Rd., DPS-Compound, Baguio City</span>
                  </span>
              </div>
              <div class="contact-info">
                  <span class="bi bi-telephone-fill">
                  <span>(074) 442-2503; (074) 619-8459</span>
              </div>
          </div>
      </div>
  </div>



  <!-- Bootstrap core JavaScript -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
  <!-- javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
