<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DTMS</title>
  <link rel="icon" type="image/x-icon" href="/static/img/cbao logo copy.png">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">



</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand">
              <img src="static/img/cbao logo copy.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
              Docu-Track
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar" aria-controls="#collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapseNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                     {% if not current_user.is_authenticated: %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>