{% block content%}
{% include 'header_test.html' %}

<!-- ======= Hero Section ======= -->

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container" style="animation: slideUp 1s ease-out;">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">City Treasury Office</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Automated Inventory Monitoring System (AIMS)</h2>
<!--          <div data-aos="fade-up" data-aos-delay="600">-->
<!--            <div class="text-center text-lg-start">-->
<!--              <a href="#about" class="btn btn-primary scrollto d-inline-flex align-items-center justify-content-center align-self-center">-->
<!--                <span>Get Started</span>-->
<!--                <i class="bi bi-arrow-right"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/img/inventory.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{% include "footer.html" %}
{% endblock %}