
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}

     <div class="wrapper">
        <div class="logo">
            <img src="static/img/cbao logo copy.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Document Tracking and Monitoring System
        </div>
        <form class="p-3 mt-3" method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

            {% for field in form %}
                {% if field.name == 'username' %}
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" placeholder="Username" name="{{ field.name }}" required="True">
                </div>
                {% elif field.name == 'password' %}
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="{{ field.name }}" placeholder="Password" required="True">
                </div>
                {% endif %}
            {% endfor %}

            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 {% for message in messages %}
                    <div class="d-flex justify-content-center" id="triggerModalDiv">
                        <p id="messageText" style="color: red; display: none">{{ message }}</p>
                    </div>
                 {% endfor %}
               {% endif %}
            {% endwith %}
                <button class="btn mt-3">Login</button>

        </form>

            <div class="text-center fs-6">
                <a href="#">Forget password?</a> or <a href="{{ url_for('register') }}">Sign up</a>
            </div>
    </div>

<!--      <div class="col-lg-4 col-md-6 col-sm-8 mx-auto content">-->
<!--         {% with messages = get_flashed_messages() %}-->
<!--          {% if messages %}-->
<!--            {% for message in messages %}-->
<!--            <p>{{ message }}</p>-->
<!--            {% endfor %}-->
<!--          {% endif %}-->
<!--        {% endwith %}-->

<!--        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->

<!--      </div>-->
<script>
window.onload = function () {
    var message = document.getElementById('messageText').textContent;
    // Check if the element with id "triggerModalDiv" exists
    if ($('#triggerModalDiv').length) {
        var icon = "success"; // Default icon is "success"
        var goodjob = "Good Job!"
        // Check if the message contains the word "error" or "failed" (you can adjust this condition as needed)
        if (message.toLowerCase().includes("error") || message.toLowerCase().includes("extension") || message.toLowerCase().includes("instead") || message.toLowerCase().includes("incorrect") || message.toLowerCase().includes("inactive")) {
            icon = "error"; // Change the icon to "error" for error messages
            goodjob = "Oops!"
        }

        // Trigger the SweetAlert with the determined icon
        swal.fire({
            title: goodjob,
            text: message,
            icon: icon, // Use the determined icon
        });
    }
};
</script>


{% include "footer.html" %}
{% endblock %}