
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}

<div  class="wrapper">
    <div class="logo">
        <img src="static/img/baguio logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
      Register User
    </div>
    <form class="p-3 mt-3" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        {% for field in form %}

            {% if field.name == 'fname' %}

            <div class="form-field d-flex align-items-center">
                <input type="text" placeholder="First Name" name="{{ field.name }}" required="True">
            </div>
                {% for error in form.fname.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'mname' %}
            <div class="form-field d-flex align-items-center">
                <input type="text" name="{{ field.name }}" placeholder="Middle Name" required="True">
            </div>
                {% for error in form.mname.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'lname' %}
            <div class="form-field d-flex align-items-center">
                <input type="text" name="{{ field.name }}" placeholder="Last Name" required="True">
            </div>
                {% for error in form.lname.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'division' %}
            <div class="form-field d-flex align-items-center">
                <input type="text" name="{{ field.name }}" placeholder="Division" required="True">
            </div>
                {% for error in form.division.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'contact' %}
            <div class="form-field d-flex align-items-center">
                <input type="text" name="{{ field.name }}" placeholder="Contact Number" required="True">
            </div>
                {% for error in form.contact.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'user_type' %}
            <div class="form-field d-flex align-items-center">
               {{ form.user_type(class="form-select custom-dropdown", id="UserType", placeholder="User Type") }}
            </div>
                {% for error in form.user_type.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'username' %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="{{ field.name }}" placeholder="Username" required="True">
            </div>
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

            {% elif field.name == 'password' %}
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="{{ field.name }}" placeholder="Password" required="True">
            </div>
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}

        {% endfor %}

        {% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
                <div class="d-flex justify-content-center" id="triggerModalDiv">
                    <p id="messageText" style="color: red; display: none">{{ message }}</p>
                </div>
             {% endfor %}
           {% endif %}
         {% endwith %}
            <button class="btn mt-3">Register</button>

    </form>
        <div class="text-center fs-6">
            Already have an account?<a href="{{ url_for('login') }}"> Login instead.</a>
        </div>
<!--    <div class="container">-->
<!--        <div class="row">-->

<!--           {% with messages = get_flashed_messages() %}-->
<!--              {% if messages %}-->
<!--                {% for message in messages %}-->
<!--                <p>{{ message }}</p>-->
<!--                {% endfor %}-->
<!--              {% endif %}-->
<!--            {% endwith %}-->
<!--           {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->

<!--        </div>-->
<!--    </div>-->
</div>

<script>
window.onload = function () {
    var message = document.getElementById('messageText').textContent;
    // Check if the element with id "triggerModalDiv" exists
    if ($('#triggerModalDiv').length) {
        var icon = "success"; // Default icon is "success"
        var goodjob = "Good Job!"
        // Check if the message contains the word "error" or "failed" (you can adjust this condition as needed)
        if (message.toLowerCase().includes("error") || message.toLowerCase().includes("extension")) {
            icon = "error"; // Change the icon to "error" for error messages
            goodjob = "Oops!"
        }

        // Trigger the SweetAlert with the determined icon
        swal.fire({
            title: goodjob,
            text: message,
            icon: icon, // Use the determined icon
        });
    }
};

</script>
{% include "footer.html" %}
{% endblock %}