{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}

<!--Custom CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_border.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css')}}">
<!--PyScript-->
<link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
<script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-xl-2 col-lg-2 col-md-3 col-2 bg-dark shadow min-vh-100 position-fixed d-inline-block">
            {% include "sidebar.html" %}
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-10 offset-xl-2 offset-lg-2 offset-md-3 offset-2">
            <div class="container-fluid">
                <div class="mb-1 mt-4">
                        <div class="card">
                            <div class="col">
                                <div class="card-header navbar-brand text-center" style="color: #400c06">
                                    <h5><strong>Hi {{current_user.user_fname}}!</strong></h5>
                                </div>
<!--                                    <div class="d-md-flex justify-content-between">-->
<!--                                      <div class="col-lg-6 col-md-12 col-sm-12 " style="justify-content: center;">-->
<!--                                        <h5 class="text-center p-3"><strong>Utilization Rate</strong></h5>-->
<!--                                        <div id="piechart"></div>-->
<!--                                      </div>-->

<!--                                      <div class="col-lg-6 col-md-12 col-sm-12 d-none d-lg-inline text-center ">-->

<!--                                        <h5 class="p-3"><strong>Reminders</strong></h5>-->
<!--                                        <p class="p-5">Please be mindful that any information on this website is confidential and should be treated with utmost care. Avoid sharing sensitive details or personal information in public forums. Privacy and security are important to us. <br>Thank you for your cooperation.</p>-->
<!--                                        <p id="pending" style="display: none">{{ pending }}</p>-->
<!--                                        <p id="archived" style="display: none">{{ archived }}</p>-->
<!--                                        <p id="dismissed" style="display: none">{{ dismissed }}</p>-->
<!--                                        <p id="for_demolition" style="display: none">{{ for_demolition }}</p>-->
<!--                                        <p id="demolished" style="display: none">{{ demolished }}</p>-->
<!--                                        <p id="deferred" style="display: none">{{ deferred }}</p>-->
<!--                                        <p id="for_resolution" style="display: none">{{ for_resolution }}</p>-->
<!--                                      </div>-->
<!--                                    </div>-->
                            </div>
                        </div>
                    </div>
                <div class="d-md-flex justify-content-between">
                    <div class="col">
                        <div class="mb-1 mt-1 me-0 me-lg-3">
                            <div class="card border-success">
                                <div class="card-header navbar-brand text-center" style="color: #400c06">
                                    <h5><i class="bi bi-basket3-fill"></i><strong> Issue Item</strong></h5>
                                </div>
                                <form method="POST" id="IssueForm" action="{{ url_for('issue_item') }}" enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                        <div class="d-flex flex-column bd-highlight mb-3 border border-white border-3 rounded">
                                            <div class="d-flex col-sm-12 justify-content-start p-2">
                                                <h5 style="color: #fca650">Details</h5>
                                            </div>
                                            {% for field in form %}
                                                {% if field.name == 'employee' %}
                                                <div class="bd-highlight col-sm-12">
                                                    <div class="form-floating mb-3 px-2 light-label">
                                                        {{ field(class="form-select", id="Recipient") }}
                                                        <label for="Recipient">Recipient</label>  <!-- Add a label for the "Barangay" field -->
                                                        {% for error in form.employee.errors %}
                                                            <p class="error" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% elif field.name == 'item' %}
                                                <div class="bd-highlight col-sm-12">
                                                    <div class="form-floating mb-3 px-2 light-label">
                                                        {{ field(class="form-select", id="Item") }}
                                                        <label for="Item">Item</label>  <!-- Add a label for the "Barangay" field -->
                                                        {% for error in form.employee.errors %}
                                                            <p class="error" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% elif field.name == 'quantity' %}
                                                <div class="bd-highlight col-sm-12">
                                                    <div class="form-floating mb-3 px-2 light-label">
                                                        <input class="form-control" id="Quan" type="text" placeholder="Quantity" name="{{ field.name }}" required="True">
                                                        <label for="Quan">Quantity</label>
                                                        {% for error in form.quantity.errors %}
                                                            <p class="error" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    <div class="d-flex name justify-content-center p-2">
                                        <button type="submit" class="btn btn-warning">Issue</button>
                                    </div>
                                </form>
                                <div class="row">
                                 {% with messages = get_flashed_messages() %}
                                   {% if messages %}
                                     {% for message in messages %}
                                        <div class="d-flex justify-content-center" id="triggerModalDiv">
                                            <p id="messageText" style="color: red; display: none">{{ message }}</p>
                                        </div>
                                     {% endfor %}
                                   {% endif %}
                                 {% endwith %}
                                </div>
                            </div>
                        </div>


                        <!-- Modal to display flash message-->
                        <div class="modal fade" id="FlashMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Alert</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1 mt-1 me-0 me-lg-3">
                            <div class="card border-success">
                                <div class="card-header navbar-brand text-center" style="color: #400c06">
                                    <h5><i class="bi bi-bag-plus-fill"></i><strong> Add to Existing Item</strong></h5>
                                </div>
                                <form method="POST" id="AddExistingItem" action="{{ url_for('add_existing_item') }}" enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <div class="d-flex flex-column bd-highlight mb-3 border border-white border-3 rounded">
                                        <div class="d-flex col-sm-12 justify-content-start p-2">
                                            <h5 style="color: #fca650">Details</h5>
                                        </div>
                                        {% for field in form1 %}
                                            {% if field.name == 'item' %}
                                            <div class="bd-highlight col-sm-12">
                                                <div class="form-floating mb-3 px-2 light-label">
                                                    {{ field(class="form-select", id="existingitem") }}
                                                    <label for="existingitem">Item</label>
                                                    {% for error in form1.item.errors %}
                                                        <p class="error" style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% elif field.name == 'quantity' %}
                                            <div class="bd-highlight col-sm-12">
                                                <div class="form-floating mb-3 px-2 light-label">
                                                    <input class="form-control" id="newquantity" type="number" placeholder="Quantity" name="quantity" required="True">
                                                    <label for="newquantity">Quantity</label>
                                                    {% for error in form1.quantity.errors %}
                                                        <p class="error" style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex name justify-content-center p-2">
                                        <button type="submit" class="btn btn-warning">Add</button>
                                    </div>
                                </form>

                                <div class="row">
                                 {% with messages = get_flashed_messages() %}
                                   {% if messages %}
                                     {% for message in messages %}
                                        <div class="d-flex justify-content-center" id="triggerModalDiv">
                                            <p id="messageText" style="color: red; display: none">{{ message }}</p>
                                        </div>
                                     {% endfor %}
                                   {% endif %}
                                 {% endwith %}
                                </div>
                            </div>
                        </div>


                        <!-- Modal to display flash message-->
                        <div class="modal fade" id="FlashMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Alert</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1 mt-1">
                            <div class="card border-success">
                                <div class="card-header navbar-brand text-center" style="color: #400c06">
                                    <h5><i class="bi bi-plus-circle"></i><strong> Add New Item</strong></h5>
                                </div>
                                <form method="POST" id="AddNewItem" action="{{ url_for('add_new_item') }}" enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                        <div class="d-flex flex-column bd-highlight mb-3 border border-white border-3 rounded">
                                            <div class="d-flex col-sm-12 justify-content-start p-2">
                                                <h5 style="color: #fca650">Details</h5>
                                            </div>
                                            {% for field in form2 %}
                                                {% if field.name == 'item' %}
                                                <div class="bd-highlight col-sm-12">
                                                    <div class="form-floating mb-3 px-2 light-label">
                                                        <input class="form-control" id="Newitem" type="text" placeholder="Item" name="{{ field.name }}" required="True">
                                                        <label for="NewItem">Item</label>
                                                        {% for error in form2.quantity.errors %}
                                                            <p class="error" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% elif field.name == 'quantity' %}
                                                <div class="bd-highlight col-sm-12">
                                                    <div class="form-floating mb-3 px-2 light-label">
                                                        <input class="form-control" id="NewQuan" type="number" placeholder="Quantity" name="{{ field.name }}" required="True">
                                                        <label for="NewQuan">Quantity</label>
                                                        {% for error in form2.quantity.errors %}
                                                            <p class="error" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    <div class="d-flex name justify-content-center p-2">
                                        <button type="submit" class="btn btn-warning">Add</button>
                                    </div>
                                </form>
                                <div class="row">
                                 {% with messages = get_flashed_messages() %}
                                   {% if messages %}
                                     {% for message in messages %}
                                        <div class="d-flex justify-content-center" id="triggerModalDiv">
                                            <p id="messageText" style="color: red; display: none">{{ message }}</p>
                                        </div>
                                     {% endfor %}
                                   {% endif %}
                                 {% endwith %}
                                </div>
                            </div>
                        </div>


                        <!-- Modal to display flash message-->
                        <div class="modal fade" id="FlashMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Alert</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <h3>List of CTO Employees</h3>

                <div class="d-flex name justify-content-start mb-0 p-3">
                    <!--Search Bar-->
                    <form class="d-flex align-items-center">
                        <div class="input-group">
                            <input class="form-control me-1 shadow" type="search" placeholder="Search..." aria-label="Search" name="search" id="searchInput" value="{{ search_term|default('') }}">
                            <button class="btn custom-outline-button shadow d-inline-flex" type="submit" id="searchButton">
                                <i class="fa-solid fa-magnifying-glass nav-link"></i>
                                <span class="ms-1 d-none d-sm-inline">Search</span>
                            </button>
                        </div>
                    </form>
                    <!--Add Case-->
                    {% if current_user.type == '1' or current_user.type == '2' %}
                    <div class = "col">
                        <div class="d-flex name justify-content-end">
    <!--                        <button type="button" class="btn btn-labeled btn-warning shadow">-->
    <!--                            <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Add Case</span>-->
    <!--                        </button>-->
                            <a class="btn btn-labeled btn-warning shadow" href="{{ url_for('add_case') }}">
                                <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Add Employee</span>
                            </a>

                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--List of Cases-->

                {% for case in cases_paginated.items %}
                    <a href="{{ url_for('case', case_no=case.id) }}" style="display: block" class="p-2 ">
                         <div class="col-auto px-sm-2 shadow rounded mb-0 ml-1 card radius-10 border-start border-0 border-3 border-regular" style="background: white">
                            <div>
                                <strong><p class="nav-link pt-2">Case Number: {{ case.case_no }}</p></strong>
                            </div>
                            <div class="d-flex justify-content-between align-items-center pb-2">
                                <div class="col-md-8 d-flex align-items-center flex-wrap"> <!-- Adjust the column width based on your design -->
                                    <div class="d-none d-lg-inline">
                                            <img src="static/img/location-pin.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                    </div>
                                    <div class="text-wrap">
                                        <p class="nav-link ms-2 mb-0 text-wrap">{{ case.case_title }}</p>
                                        {% if case.date_created %}
                                            {% set formatted_date = case.date_created.strftime('%B %d, %Y %I:%M %p') %}
                                            <p class="nav-link ms-2 mb-0 d-none d-md-inline">Date received: {{ formatted_date }}</p>
                                        {% else %}
                                            <p class="nav-link ms-2 mb-0 d-none d-md-inline">Date received: </p>
                                        {% endif %}
                                        <br>
                                        <p class="nav-link ms-2 mb-0 text-wrap d-none d-md-inline">
                                            Location:&nbsp;{{ case.location }},&nbsp;{{ get_barangay_name(case.barangay) }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-end d-none d-md-inline"> <!-- Adjust the column width based on your design -->
                                    <p class="nav-link">
                                        {% if case.status == "8" %}
                                            Scheduled for deliberation
                                        {% elif case.status == "1"  %}
                                            Pending
                                        {% elif case.status == "2"  %}
                                            Archived
                                        {% elif case.status == "3"  %}
                                            Dismissed
                                        {% elif case.status == "4"  %}
                                            For Demolition
                                        {% elif case.status == "5"  %}
                                            Structure Demolished
                                        {% elif case.status == "6"  %}
                                            Deferred
                                        {% elif case.status == "7"  %}
                                            For Resolution
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                         </div>
                    </a>
                {% endfor %}

                <div class = "col">
                <div class="d-flex name justify-content-end p-3">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if cases_paginated.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('user_dashboard', page=cases_paginated.prev_num) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for num in pagination_range %}
                            <li class="page-item {% if num == cases_paginated.page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('user_dashboard', page=num) }}">{{ num }}</a>
                            </li>
                            {% endfor %}

                            {% if cases_paginated.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('user_dashboard', page=cases_paginated.next_num) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "javascript.html" %}

<script>

window.onload = function () {
    var message = document.getElementById('messageText').textContent;

    // Check if the element with id "triggerModalDiv" exists
    if ($('#triggerModalDiv').length) {
        var icon = "success"; // Default icon is "success"
        var goodjob = "Good Job!"
        // Check if the message contains the word "error" or "failed" (you can adjust this condition as needed)
        if (message.toLowerCase().includes("error") || message.toLowerCase().includes("exist")) {
            icon = "error"; // Change the icon to "error" for error messages
            goodjob = "Oops!"
        }

        // Trigger the SweetAlert with the determined icon
        swal.fire({
            title: goodjob,
            text: message,
            icon: icon, // Use the determined icon
        });
    }
};

let formSubmitted = false;

// Restore input values from Local Storage on page load
document.addEventListener('DOMContentLoaded', function() {
    for (let field of document.querySelectorAll('input, textarea')) {
        if (field.name) {
            let storedValue = localStorage.getItem(field.name);
            if (storedValue !== null) {
                field.value = storedValue;
            }
        }
    }
});

// Save input values to Local Storage on form submit
document.getElementById('myForm').addEventListener('submit', function() {
    formSubmitted = true;
    for (let field of document.querySelectorAll('input, textarea')) {
        if (field.name) {
            localStorage.setItem(field.name, field.value);
        }
    }
});

// Clear local storage data when leaving the page
window.addEventListener('beforeunload', function() {
    if (!formSubmitted) {
        for (let field of document.querySelectorAll('input, textarea')) {
            if (field.name) {
                localStorage.removeItem(field.name);
            }
        }
    }
});

// Clear local storage data when refreshing the page
window.addEventListener('unload', function() {
    if (!formSubmitted) {
        for (let field of document.querySelectorAll('input, textarea')) {
            if (field.name) {
                localStorage.removeItem(field.name);
            }
        }
    }
});

</script>

{% endblock %}