{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header_test.html" %}

<!--Custom CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_border.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css')}}">
<!--PyScript-->
<link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
<script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-xl-2 col-lg-2 col-md-3 col-2 bg-light shadow min-vh-100 position-fixed d-inline-block">
            {% include "sidebar.html" %}
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-10 offset-xl-2 offset-lg-2 offset-md-3 offset-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mb-3 mt-3">
                            <div class="card">
                                <div class="col">
                                    <div class="card-header navbar-brand text-center" style="color: #400c06">
                                        <h5><strong>Hi {{current_user.user_fname}}!</strong></h5>
                                    </div>
                                    <div class="d-md-flex">
                                        <div class="col-lg-6 col-md-12 col-sm-12" style="justify-content: center;">
                                             <h5 class="text-center p-3"><strong>Cases Statistics</strong></h5>
                                             <div id="piechart">

                                             </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 d-none d-md-inline">
                                            <div class = "col m-3 d-flex justify-content-between">

                                            </div>
                                            <p id="pending" style="display: none">{{ pending }}</p>
                                            <p id="archived" style="display: none">{{ archived }}</p>
                                            <p id="dismissed" style="display: none">{{ dismissed }}</p>
                                            <p id="for_demolition" style="display: none">{{ for_demolition }}</p>
                                            <p id="demolished" style="display: none">{{ demolished }}</p>
                                            <p id="deferred" style="display: none">{{ deferred }}</p>
                                            <p id="for_resolution" style="display: none">{{ for_resolution }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Cases</h3>

                <div class="d-flex name justify-content-start mb-0 p-3">
                    <!--Search Bar-->
                    <form class="d-flex align-items-center">
                        <div class="input-group">
                            <input class="form-control me-1 shadow" type="search" placeholder="Search..." aria-label="Search" name="search" id="searchInput" value="{{ search_term|default('') }}">
                            <button class="btn custom-outline-button shadow d-inline-flex" type="submit" id="searchButton">
                                <i class="fa-solid fa-magnifying-glass nav-link"></i>
                                <span class="ms-1 d-none d-sm-inline">Search</span>
                            </button>
                        </div>
                    </form>
                    <!--Add Case-->
                    <div class = "col">
                        <div class="d-flex name justify-content-end">
    <!--                        <button type="button" class="btn btn-labeled btn-warning shadow">-->
    <!--                            <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Add Case</span>-->
    <!--                        </button>-->
                            <a class="btn btn-labeled btn-warning shadow" href="{{ url_for('add_case') }}">
                                <i class="fa fa-plus"></i> <span class="ms-1 d-none d-sm-inline">Add Case</span>
                            </a>

                        </div>
                    </div>
                </div>

                <!--List of Cases-->

                {% for case in cases_paginated.items %}
                    <a href="{{ url_for('case', case_no=case.case_no) }}" style="display: block" class="p-2 ">
                         <div class="col-auto px-sm-2 shadow rounded mb-0 ml-1 card radius-10 border-start border-0 border-3 border-regular" style="background: white">
                            <div>
                                <strong><p class="nav-link pt-2">Case Number: {{ case.case_no }}</p></strong>
                            </div>
                            <div class="d-flex justify-content-between align-items-center pb-2">
                                <div class="col-md-8 d-flex align-items-center flex-wrap"> <!-- Adjust the column width based on your design -->
                                    <div class="d-none d-lg-inline">
                                        {% if case.category == "1" %}
                                            <img src="static/img/location-pin.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "2" %}
                                            <img src="static/img/mobile.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "3" %}
                                            <img src="static/img/road.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "4" %}
                                            <img src="static/img/forest.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "5" %}
                                            <img src="static/img/river.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "6" %}
                                            <img src="static/img/creek.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "7" %}
                                            <img src="static/img/barracks.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "8" %}
                                            <img src="static/img/government.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "9" %}
                                            <img src="static/img/cityscape.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% elif case.category == "10" %}
                                            <img src="static/img/house.png" style="width: 40px; height: 40px" class="rounded mx-auto d-block m-3">
                                        {% endif %}
                                    </div>
                                    <div class="text-wrap">
                                        <p class="nav-link ms-2 mb-0 text-wrap">{{ case.case_title }}</p>
                                        {% if case.date_created %}
                                            {% set formatted_date = case.date_created.strftime('%B %d, %Y %I:%M %p') %}
                                            <p class="nav-link ms-2 mb-0 d-none d-md-inline">Date received: {{ formatted_date }}</p>
                                        {% else %}
                                            <p class="nav-link ms-2 mb-0 d-none d-md-inline">Date received: </p>
                                        {% endif %}
                                        <br>
                                        <p class="nav-link ms-2 mb-0 text-wrap d-none d-md-inline">
                                            Location:&nbsp;{{ case.location }},&nbsp;{{ get_barangay_name(case.barangay) }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-end d-none d-md-inline"> <!-- Adjust the column width based on your design -->
                                    <p class="nav-link">
                                        {% if case.status == "8" %}
                                            Scheduled for deliberation
                                        {% elif case.status == "1"  %}
                                            Pending
                                        {% elif case.status == "2"  %}
                                            Archived
                                        {% elif case.status == "3"  %}
                                            Dismissed
                                        {% elif case.status == "4"  %}
                                            For Demolition
                                        {% elif case.status == "5"  %}
                                            Structure Demolished
                                        {% elif case.status == "6"  %}
                                            Deferred
                                        {% elif case.status == "7"  %}
                                            For Resolution
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                         </div>
                    </a>
                {% endfor %}


                <div class = "col">
                    <div class="d-flex name justify-content-end p-3">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if cases_paginated.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('user_dashboard', page=cases_paginated.prev_num) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in pagination_range %}
                                <li class="page-item {% if num == cases_paginated.page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('user_dashboard', page=num) }}">{{ num }}</a>
                                </li>
                                {% endfor %}

                                {% if cases_paginated.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('user_dashboard', page=cases_paginated.next_num) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
    <!--        </div>-->
        </div>
    </div>
</div>
{% include "javascript.html" %}

<script>

// Prevent form submission and update content
$('#saveBtn').click(function(event) {
event.preventDefault();

});

  // Example case data
var caseData = {
    "location": "Your Location",
    "barangay": "36120" // This is the ID you want to look up
};

<!--// Path to your JSON file-->
<!--var jsonFilePath = 'path/to/your/baguio_city_barangays.json';-->

<!--// Fetch JSON data from the file-->
<!--fetch(jsonFilePath)-->
<!--    .then(response => response.json())-->
<!--    .then(jsonData => {-->
<!--        // Check if the case.barangay ID exists in the JSON data-->
<!--        if (jsonData.hasOwnProperty(caseData.barangay)) {-->
<!--            // Access the BARANGAY value and use it as needed-->
<!--            var barangayValue = jsonData[caseData.barangay].BARANGAY;-->
<!--            console.log('BARANGAY:', barangayValue);-->
<!--        } else {-->
<!--            console.log('ID not found in JSON data');-->
<!--        }-->
<!--    })-->
<!--    .catch(error => console.error('Error fetching JSON data:', error));-->

// Load google charts
google.charts.load('current', { 'packages': ['corechart'] });
google.charts.setOnLoadCallback(drawChart);

// Get the element by its id
var pendingElement = document.getElementById("pending");
var archivedElement = document.getElementById("archived");
var dismissedElement = document.getElementById("dismissed");
var fordemolitionElement = document.getElementById("for_demolition");
var demolishedElement = document.getElementById("demolished");
var deferredElement = document.getElementById("deferred");
var forresolutionElement = document.getElementById("for_resolution");

// Get the text content of the element and parse it as an integer
var pendingValue = parseInt(pendingElement.textContent);
var archivedValue = parseInt(archivedElement.textContent);
var dismissedValue = parseInt(dismissedElement.textContent);
var fordemolitionValue = parseInt(fordemolitionElement.textContent);
var demolishedValue = parseInt(demolishedElement.textContent);
var deferredValue = parseInt(deferredElement.textContent);
var forresolutionValue = parseInt(forresolutionElement.textContent);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Category', 'Value'],
    ['Pending (' + pendingValue + ')', pendingValue],
    ['Archived (' + archivedValue + ')', archivedValue],
    ['Dismissed (' + dismissedValue + ')', dismissedValue],
    ['For Demolition (' + fordemolitionValue + ')', fordemolitionValue],
    ['Demolished (' + demolishedValue + ')', demolishedValue],
    ['Deferred (' + deferredValue + ')', deferredValue],
    ['For Resolution (' + forresolutionValue + ')', forresolutionValue]
  ]);

  // Calculate the width and height based on the container size
  var container = document.getElementById('piechart');
  var containerWidth = container.offsetWidth;
  var containerHeight = containerWidth * 0.7; // You can adjust this aspect ratio as needed

  // Set the options for the chart
  var options = {
    'width': containerWidth,
    'height': containerHeight * 0.6,
    'colors': ['#400c06', '#663d38', '#8c6d6a', '#b39e9b', '#d9cecd', '#ffe69c', '#c0c7ca', '#eacf9a'],
    'pieHole': 0.4,
    'legend': {
        'position': 'right', // Change the position to 'bottom', 'left', 'right', or 'none'
        'alignment': 'center', // Align the legend to the center
        'textStyle': {
            'fontSize': 14, // Change the font size of the legend
            'fontName': 'Arial, sans-serif' // Change the font family of the legend
        },

    'chartArea': {
        'left': '10%', // Left margin
        'top': '10%',  // Top margin
        'width': '80%', // Chart width
        'height': '80%' // Chart height
      },
    }
  };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(container);
  chart.draw(data, options);
}

// Resize the chart when the window size changes
window.addEventListener('resize', drawChart);

</script>

{% endblock %}
